@page "/"
@using Linky.Client.Models
@using Linky.Client.Services
@inject ILinkManager LinkManager

<RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center" class="rz-pt-10">
    <RadzenCard Variant="Variant.Filled" Style="width: 700px" class="rz-px-12">
        <RadzenStack>
            <RadzenText TextStyle="TextStyle.H3" TextAlign="TextAlign.Center">
                Welcome to LinKy!
            </RadzenText>
            <RadzenText>
                This is a simple application that allows you to store and share links.
            </RadzenText>

            <RadzenStack Orientation="Orientation.Horizontal" Gap="0">
                <RadzenTextBox class="rz-w-100" Placeholder="Enter your link here" MaxLength="2048" @bind-Value="_link.Url"/>
                <RadzenButton Text="Short link" IsBusy="_busy" Click="CreateLink" Style="text-wrap: nowrap; min-width: min-content"></RadzenButton>
            </RadzenStack>

            <RadzenText>
                Extra settings:
            </RadzenText>

            <RadzenRow>
                <RadzenColumn>
                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center">
                        <RadzenText>
                            Custom alias:
                        </RadzenText>
                        <RadzenTextBox Placeholder="Custom alias" MaxLength="22" @bind-Value="_link.Alias"/>
                    </RadzenStack>
                </RadzenColumn>
                <RadzenColumn>
                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center">
                        <RadzenText>
                            Type of link:
                        </RadzenText>
                        <RadzenSelectBar TValue="LinkType" Size="ButtonSize.Small" @bind-Value="_link.Type">
                            <Items>
                                <RadzenSelectBarItem Value="LinkType.Redirect" Text="Redirect" />
                                <RadzenSelectBarItem Value="LinkType.Serve" Text="Serve" />
                            </Items>
                        </RadzenSelectBar>
                    </RadzenStack>  
                </RadzenColumn>
            </RadzenRow>
        </RadzenStack>
        <RadzenAlert AlertStyle="AlertStyle.Danger" AllowClose="false" Visible="@(_error is not null)"  Variant="Variant.Flat" Shade="Shade.Lighter">
            @_error
        </RadzenAlert>
        @if (_shortenedLink is not null)
        {
            <RadzenAlert Variant="Variant.Filled" AlertStyle="AlertStyle.Primary" Size="AlertSize.Medium" Shade="Shade.Light" AllowClose=false>
                    Your shortened link is: <a href="@Link" style="text-decoration: none" target="_blank">@Link</a> <CopyToClipboard Text="@Link"></CopyToClipboard>
            </RadzenAlert>
        }
    </RadzenCard>
</RadzenStack>